.ExpertInfo {
	margin-left: var(--margin);
	color: var(--primary);
  	background-image: var(--primary);
  	height: 100%;
  	
  	margin-top: 5rem;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	grid-template-rows: 1fr  1fr;
	grid-template-areas: 
	'titleHolder titleHolder titleHolder titleHolder titleHolder titleHolder'
	'infoHolder infoHolder infoHolder infoHolder infoHolder infoHolder ';
}

.ExpertInfo .titleHolder {
	grid-area: titleHolder;
}

.ExpertInfo .infoHolder {
	margin-top: -20rem;
	grid-area: infoHolder;
	display: flex;
	justify-content: center;
}

.ExpertInfo .infoHolder .skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: var(--margin);
}

.ExpertInfo .infoHolder .graphHolder img {
	width: 100%;
}

.ExpertInfo .infoHolder .graphHolder .graph {
	margin-left: var(--margin);
	margin-right: var(--margin);
}

@media only screen and (max-width: 768px) {
	.ExpertInfo {
		margin-left: var(--margin);
		margin-right: var(--margin);
 		margin-top: 0rem;
	}

	.ExpertInfo .titleHolder {
		text-align: center;
	}

	.ExpertInfo .infoHolder {
		grid-area: infoHolder;
		display: flex;
		justify-content: center;
		flex-direction: column;
 		margin-top: -12rem;
	}

	.ExpertInfo .infoHolder .graphHolder .graph .smallPara{
		text-align: center;
	}
}
