.Menu {
	margin-left: var(--margin);
	color: var(--primary);
  	background-image: radial-gradient(circle, #383f4d 0%, #383f4d 10%, #1c1d21 60%);
  	height: 100%;
}

.Menu .box {
  width: 100px;
  height: 100px;
  background: #e9007e;
  border-radius: 10px;
}

.Menu ul {
  list-style: none;
}

.Menu li {
  padding: "5px";
  background: rgba(255, 255, 255, 0.2);
  margin: 15px 0;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
