.NavBarHolder {
	position: relative;
}

.NavBarHolder .avatarHolder {
	position: absolute;
	z-index: 999;
	right: var(--margin);
	top: 20vh;
}

.NavBarHolder .avatarHolder img {
	width: 350px;
}

.NavBar {
	background-color: var(--dark);
	height: 5rem;
	color: var(--primary);
	margin-left: var(--margin);
	margin-right: var(--margin);
	display: grid;
	grid-template-columns: 1fr  1fr;
	grid-template-areas: 
	'logoHolder avatarHolder infoHolder';
}

.NavBar .logoHolder {
	grid-area: logoHolder;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	width: 10rem;
}

.NavBar .avatarHolder {
	grid-area: avatarHolder;
}

.NavBar .logoHolder .bar {
	justify-self: center;
}

.NavBar .logoHolder .logo > img {
	height: 2rem;
}

.NavBar .infoHolder {
	grid-area: infoHolder;
	margin-left: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	width: 15rem;
}

.NavBar .infoHolder > * {
	margin: auto;
}

.NavBar .infoHolder img {
	height: 2rem;
}

.NavBar .infoHolder .hire {
	display: flex;
	justify-content: center;
	align-items: center;
}

.NavBar .infoHolder img {
	margin-right: 5px;
}